body {
  text-align: center;
  font-family: 'Helvetica', Sans-Serif;
}

p {
  font-size: 14px;
}

h2 {
  font-size: 32px;
}

.header h2 {
  font-size: 23px;
}

.h3 {
  font-weight: bold;
}

.section h3 {
  font-size: 23px;
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
}

.header {
  background-image: url('../images/the-flatiron-building.png');
  background-size: cover;
  background-position: center center;
  color: white;
}

.header a {
  color: white;
}
.section a {
  color: black;
  text-decoration: none;
}

.footer {
  font-size: 11px;
  text-align: left;
  color: white;
  background-color: dimgray;
}

.footer a {
  color: white;
  padding-left:3px;
}